.navbar {
  position:fixed;
  padding: 1rem;
  display:grid;
  border: white;
  background: #595959;;
  grid-template-areas: 'btn btn btn';
  grid-template-columns: repeat(3,1fr);
  z-index: 3;
  justify-content: center;
  bottom: 0rem;
  cursor: pointer;
  width:100%
}

* {
  box-sizing: border-box;
}

body {
  background: #2f343b;
  height: 100%;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  color: #eeeeee;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  margin-top: 6rem;
  font-size: 15vw;
}
h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: #703030;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

button {
  outline: none;
  border:0;
  color: #eeeeee;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  padding: 4rem;
  min-height: 90vh;
}

main .icons {
  margin-top: 1rem;
}
main .icons a {
  padding: 0.4rem;
}
main .icons a:hover {
  color: #703030;
  transition: all 0.25s ease-out;
}

.navbar .icons {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.text-secondary {
  color: #703030;
}

.about-info {
  display: grid;
  grid-template-areas: "job job job job";
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  overflow-y:scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-align: center;
}

.job {
  background: #3a4149;
  padding: 1rem;
  border-bottom: #703030 0.3rem solid;
}

.project-info {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  width: 100%;
  height: 100%;
}

.project {
  padding: 1rem;
  background: #703030;
  color: #eeeeee;
}

.project:hover {
  opacity: 0.5;
  color: #703030;
  border-color: #703030;
  transition: all 0.25s ease-out;
}

button {
  background: transparent;
  border: transparent;
}

.boxes .btn,
.boxes .btn-dark,
.boxes .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}
.boxes .btn:hover,
.boxes .btn-dark:hover,
.boxes .btn-light:hover {
  background: #703030;
  color: #eeeeee;
}

.btn-dark {
  background: black;
  color: #eeeeee;
}

.btn-light {
  background: #acb3bd;
  color: #2f343b;
}

@media screen and (max-width: 48rem) {
  main {
    align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh;
  }
}
